@import '~bootstrap/scss/bootstrap';
img {
    max-width: 400px;
        object-fit: contain;
    
}
// *{
//     background-color: rgb(51, 9, 16) ;
//     color: antiquewhite ;
// }

body {
    background-color: rgb(51, 9, 16) ;
    color: antiquewhite ;
};

